* {
    margin: 0;
    padding: 0;
    color: greenyellow;
}

.hidden {
    display: none;
}

body {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100dvh;
    width: 100%;
    flex-direction: column;
    background-color: black;
}

/*********************************************/
/************ HEADER START *******************/
/*********************************************/

header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid greenyellow;
}

select {
    -webkit-appearance: none !important;
    color: greenyellow !important;
    -webkit-appearance: menulist;
}

/*******************************************/
/************ MAIN START *******************/
/*******************************************/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 20px;
}

button, select {
    color: greenyellow;
    background: none;
    border: 3px solid greenyellow;
    padding: 12px;
} button:hover, select:hover {
    cursor: pointer;
      border: 3px dashed greenyellow;
  }

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    border-bottom: 2px solid greenyellow;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

ul {
    display: flex;
    flex-direction: column;
    gap:20px;
}

li {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 2px dotted yellowgreen;
    padding: 20px;
}